<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.birina">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name="com.example.birina.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.example.birina.junkcleaner.activity.CleanerActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="com.example.birina.dashboard.DeshBoardActivity"
            android:screenOrientation="portrait"
             >
        </activity>


        <activity
            android:name="com.example.birina.alarm.StartLockScreen"
            android:theme="@style/Theme.Transparent" >
     </activity>

        <service android:name="com.example.birina.alarm.SaveMyAppsService" >
        </service>

        <service android:name="com.example.birina.alarm.SimChangeService" >
        </service>


        <receiver android:name="com.example.birina.alarm.receiver.SimChangeReciver">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
            </intent-filter>
        </receiver>



<!--
Clean activity
-->

        <activity
            android:name="com.example.birina.junkcleaner.activity.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName="com.example.birina.junkcleaner.activity.CleanerActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.birina.junkcleaner.activity.CleanerActivity" />

            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>

        </activity>

        <receiver android:name="com.example.birina.junkcleaner.model.BroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.birina.junkcleaner.model.CleanerService"
            android:exported="false" />

    </application>

</manifest>