<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.birina.bsecure">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.PHONE_STATE_STATE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".BirinaApplication"
        android:installLocation="internalOnly"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.birina.bsecure.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name="com.birina.bsecure.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />

            </intent-filter>
        </activity>

        <activity android:name="com.birina.bsecure.registration.RegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />

            </intent-filter>
        </activity>


        <activity
            android:name="com.birina.bsecure.dashboard.DeshBoardActivity"
            android:screenOrientation="portrait">
         <!--   <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>-->

        </activity>
        <activity
            android:name="com.birina.bsecure.dashboard.WebActivity"
            android:screenOrientation="portrait"></activity>



        <!--
        Clean cache
        -->


        <activity
            android:name="com.birina.bsecure.junkcleaner.activity.CleanerActivity"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name="com.birina.bsecure.junkcleaner.activity.PhoneBoosterActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.birina.bsecure.junkcleaner.activity.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName="com.birina.bsecure.junkcleaner.activity.CleanerActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.birina.bsecure.junkcleaner.activity.CleanerActivity" />

            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>

        </activity>

        <receiver android:name="com.birina.bsecure.junkcleaner.model.BroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.birina.bsecure.junkcleaner.model.CleanerService"
            android:exported="false" />

        <!--**********************************************************-->


        <!--antivirus-->


        <activity
            android:name="com.birina.bsecure.antivirus.AntivirusActivity"
            android:screenOrientation="portrait"></activity>


        <!--****************************Track declaration start ********************-->




     <activity
            android:name="com.birina.bsecure.track.simalert.StartLockScreen"
            android:theme="@style/Theme.Transparent"></activity>

        <service android:name="com.birina.bsecure.track.simalert.SaveMyAppsService"></service>

        <service android:name="com.birina.bsecure.simAlert.SimChangeService"></service>


        <receiver android:name="com.birina.bsecure.simAlert.SimChangeReciver">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
        </receiver>



        <activity
            android:name="com.birina.bsecure.track.disabledevice.MainActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name="com.birina.bsecure.track.TrackActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.birina.bsecure.track.disabledevice.LockscreenActivity"
            ></activity>

        <service android:name="com.birina.bsecure.track.disabledevice.service.LockscreenService"></service>
        <service android:name="com.birina.bsecure.track.disabledevice.service.LockscreenViewService"
            ></service>


        <service
            android:name="com.birina.bsecure.track.disabledevice.service.MyAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/my_accessibility_service" />
        </service>

        <receiver
            android:name="com.birina.bsecure.track.disabledevice.LockBootReciver"
            android:directBootAware="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>

            </intent-filter>

        </receiver>


           <receiver android:name="com.birina.bsecure.track.disabledevice.SmsReceiver">
               <intent-filter>
                   <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
               </intent-filter>
           </receiver>


        <!--**********************Track declaration finished**************************-->


        <!--Backup And Restore declaration-->
        <activity
            android:name="com.birina.bsecure.backup.BackupActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.birina.bsecure.restore.RestoreActivity"
            android:screenOrientation="portrait"></activity>



        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver
            android:name="com.birina.bsecure.login.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
            android:name="com.birina.bsecure.login.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>


        <!-- Service that delivers messages from the phone "quick response" -->
        <service
            android:name="com.birina.bsecure.login.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <!--*****************Backup And Restore declaration finish************************************-->




        <!--*****************RealTimeProtectionActivity declaration Start ************************************-->

        <activity
            android:name="com.birina.bsecure.realtimeprotection.RealTimeProtectionActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.birina.bsecure.realtimeprotection.AdvisorActivity"
            android:screenOrientation="portrait"></activity>

        <!--*****************RealTimeProtectionActivity declaration finish************************************-->




        <!--*****************ResetPwd declaration Start ************************************-->

        <activity
            android:name="com.birina.bsecure.resetpwd.ForgotPwdActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.birina.bsecure.resetpwd.ReNewActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.birina.bsecure.resetpwd.ResetPwdActivity"
            android:screenOrientation="portrait"></activity>

        <!--*****************ResetPwd declaration finish************************************-->




        <!--*****************PocketTheft declaration start************************************-->


        <activity
            android:name="com.birina.bsecure.pockettheft.PocketTheftActivity"
            android:screenOrientation="portrait">


        </activity>

        <service
            android:name="com.birina.bsecure.pockettheft.PocketTheftService"
            android:exported="false" />



        <!--*****************PocketTheft declaration finish************************************-->



        <!--*****************UnplugCharger declaration start************************************-->

        <activity
            android:name="com.birina.bsecure.unplugcharger.UnPlugChargerActivity"
            android:screenOrientation="portrait">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>-->
        </activity>

        <service
            android:name="com.birina.bsecure.unplugcharger.UnPlugChargerService"
            android:exported="false" />



        <receiver android:name="com.birina.bsecure.unplugcharger.PlugInReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>


        <!--*****************UnplugCharger declaration finish************************************-->







  <!--*****************RemoteScreaming declaration start************************************-->

        <activity
            android:name="com.birina.bsecure.remotescreaming.RemoteScreamingActivity"
            android:screenOrientation="portrait">

        <!--    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>-->
        </activity>

        <service
            android:name="com.birina.bsecure.remotescreaming.RemoteScreamingService"
            android:exported="false" />


        <receiver android:name="com.birina.bsecure.remotescreaming.RemoteScreamingSmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <!--*****************RemoteScreaming declaration finish************************************-->






        <!--*****************Antitheft declaration Start ************************************-->

        <activity
            android:name="com.birina.bsecure.antitheft.MakePhotoActivity"
            android:screenOrientation="portrait">
<!--
             <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />

          </intent-filter>-->
        </activity>



        <!--*****************Antitheft declaration finish************************************-->

        <activity
            android:name="com.birina.bsecure.login.TempLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name="com.birina.bsecure.Base.BaseService"
            android:stopWithTask="false"
             />


        <!--*****************Sim Alert declaration finish************************************-->

        <activity
            android:name="com.birina.bsecure.simAlert.SimAlertActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.birina.bsecure.Base.LocationActivity"
            android:screenOrientation="portrait">
        </activity>





        <!--*****************TrackingRecovery declaration start************************************-->

        <activity
            android:name="com.birina.bsecure.trackingrecovery.TrackingRecoveryActivity"
            android:screenOrientation="portrait">

            <!--    <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />

                </intent-filter>-->
        </activity>

        <service
            android:name="com.birina.bsecure.trackingrecovery.TrackingRecoveryService"
            android:exported="false" />


        <receiver android:name="com.birina.bsecure.trackingrecovery.TrackingRecoverySmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <!--*****************TrackingRecovery declaration finish************************************-->




        <service android:name=".notification.remotenotification.BiSecureFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <receiver android:name="com.birina.bsecure.notification.localnotification.AlarmNotificationReceiver"/>



    </application>

</manifest>